# Xcode
.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
Examples/AutoCompletionDemo/AutoCompletion.framework/AutoCompletion
Examples/AutoCompletionDemo/AutoCompletion.framework/Info.plist
Examples/AutoCompletionDemo/AutoCompletion.framework/Headers/AutoCompletion.h
Examples/AutoCompletionDemo/AutoCompletion.framework/Headers/AutoCompletionAnimator.h
Examples/AutoCompletionDemo/AutoCompletion.framework/Headers/AutoCompletionTextField.h
Examples/AutoCompletionDemo/AutoCompletion.framework/Headers/AutoCompletionTextFieldDataSource.h
Examples/AutoCompletionDemo/AutoCompletion.framework/Headers/AutoCompletionTextFieldDelegate.h
Examples/AutoCompletionDemo/AutoCompletion.framework/Modules/module.modulemap
